body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #76768a;
   }

   .title-styles {
      color: #e6e8ff;
   }

   .title-container {
      color: #e6e8ff;
   }

   .header-icon {
      filter: invert(78%) sepia(94%) saturate(0%) hue-rotate(37deg) brightness(107%) contrast(108%);
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #7d7b8a;
   }

   .language {
      background-color: #3f3e47;
   }

   .link-href {
      color: #e6e8ff;
   }

   .project-date {
      background-color: #918e97;
      color: #e6e8ff;
   }

   header {
      background-color: #494949;
      h1 {
         color: #e6e8ff;
      }
   }

   #about {
      background-color: #7f7f7f;
      h1 span {
         color: #e6e8ff;
      }
      .polaroid span {
         background:  #6d6d6d;
      }
      .card {
         background: #6d6d6d;
         color: #e6e8ff;
      }
   }

   #portfolio {
      background: #5b5b5b;
      .section-title {
         color: #e6e8ff !important;
      }
      .foto div {
         background: #6d6d6d;
      }
      .project-title-settings {
         color: #e6e8ff;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #5b5b5b;
      .section-title {
         color: #e6e8ff !important;
      }

      .experience-badge {
         background: #919191 !important;
         color: #e6e8ff;
      }

      .main-badge {
         background: #919191 !important;
      }

      .vertical-timeline-element-date {
         color: #e6e8ff;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #5b5b5b;
      color: #e6e8ff;
   }

   .close-icon {
      color: #e6e8ff;
   }
}

#home {
   background-image: url('../../../public/cc0code.jpg');
}
